# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Local environment variables
.env

# Coverage files
.coverage
.coverage.*
htmlcov/
