repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-json
    -   id: check-merge-conflict
    -   id: detect-private-key

-   repo: https://github.com/google/yapf
    rev: v0.40.2
    hooks:
    -   id: yapf
        name: yapf
        description: Format Python code according to Google style
        entry: yapf
        language: python
        types: [python]
        args: [--style=.style.yapf, --parallel, --in-place, --verbose]
        additional_dependencies: [toml]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ["-v", "--full-trace"]

    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
            [
                "--rcfile=.pylintrc",
                "--score=no"
            ]
